/*
Author: Miron Sayeed
Date: 1/16/2019
Path: ~/Views/Content/Content.css
*/

.contentHeader{
    padding: 5px 0;
    margin: 0;
}

.contentHeader, a, button{
    margin: 0 5px;
}

.hasError{
    box-shadow: 0 0 5px red;
}

.btn-file{
    padding-left: 0;
    padding-right: 0;
}

.glyphicon{
    color: red;
}