body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.list-group-item{
  display: table !important;
  width: 100% !important;
  max-height: 150px;
}

.categoryName{
  margin: auto !important;
}

.panel-body{
  display: flex !important;
}

.modify button{
  margin: 0 2px !important;
  float: right !important;
}

fieldset{
  border: solid 1px grey !important;
  padding: 5px !important;
}

legend{
  width: auto !important;
  border: none !important;
  padding: 5px !important;
}

#product-image img{
  height: auto;
  max-height: 150px;
  width: auto;
}

#banner, #footer{
  padding: 20px 0;
  text-align: center;

}
